<div class="container-fluid">
  <div class="row">
    <div class="sidebar-sticky">
      <!-- Calling SignOut() Api from AuthService -->
      <button class="btn btn-outline-dark" (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i>Log out
      </button>
    </div>

    <!--  -->
    <div class="row" *ngIf="authService.userData as user">
      <div class="col-md-12">
        <div class="media">
          <!-- <img
            class="align-self-start mr-5 img-thumbnail rounded-circle"
            src="{{ user.photoURL ? user.photoURL : '../../../../../assets/dummy-user.png }}"
            alt="{{ user.displayName }}"
          /> -->

          <div class="media-body">
            <h1>
              Hello:
              <strong>{{
                user.displayName ? user.displayName : "User"
              }}</strong>
            </h1>
            <!-- <p>
            User ID: <strong>{{ user.uid }}</strong>
          </p> -->
            <p>
              Email: <strong>{{ user.email }}</strong>
            </p>
            <!-- <p>
            Email Verified: <strong>{{ user.emailVerified }}</strong>
          </p> -->
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      class="card"
      *ngFor="let item of themovies?.results"
      style="width: 18rem"
    >
      <img
        class="card-img-top"
        src="{{ imageSrc + item?.poster_path }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item?.original_title }}</h5>
      </div>
    </div>
  </div>
</div>
